<!DOCTYPE html>
<html lang="{{l10n.text.locale}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
	<link href="public/css/bootstrap.min.css" rel="stylesheet">
	<link href="public/css/font-awesome.min.css" rel="stylesheet">
	<link href="public/css/framework.min.css" rel="stylesheet">
	<link href="public/css/style.css" rel="stylesheet">
</head>
<body class="container">

<header id="header">
	<h2 class="pull-left">Some Company</h2>
	{{> languagePicker}}
</header>
