<script>
	(function (win) {
		win.onload = function () {
			var selectPicker = win.document.getElementById('languageSelect');
			selectPicker.addEventListener('change', function (event) {
				win.document.location = "/locale/" + event.target.value;
			});
		};
	})(window);
</script>
<div>
	<select id="languageSelect" class="form-element">
		{{#each locales}}
		<option value="{{code}}"{{#if selected}} selected{{/if}}>{{name}}</option>
		{{/each}}
	</select>
</div>
